.content__subheading {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #353F47;
    margin: 0 0 12px 0;
}


@media screen and (max-width: 768px) {
    .content__subheading {
        font-size: 16px;
        line-height: 19px;       
    }
}